*{
    margin: 0;
}
body{
    background: black;
    color: aliceblue;
}
main{
    position: fixed;
    height: 95%;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}